*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: italic;
}

body{
    font-size: 20px;
    font-family: italic;
}
.header{
    background: black;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.headerTitle{
    color: white;
    text-transform: uppercase;
    font-size: 200%;
}
.headerButton{
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: none;
    font-size: 150%;
    letter-spacing: 2px;
}
.headerButton:hover{
    cursor: pointer;
}
.mainNavigation{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    visibility: hidden;
}
.mainNavigationList{
    list-style: none;
}
.mainNavigationListItem{
    color: white;
    font-size: 200%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
.mainNavigationListItem > a {
    text-decoration: none;
    color: white;
    display: none;
}
.bigFigure{
    width: 100%;
    height: 110vh;
}
.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collections{
    width: 100vw;
    padding: 40px;
    box-shadow: 0 0 30px rgb(0, 0, 0,1);
}
.collectionsTitle, .infoTitle{
    font-size: 350%;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 40px;
}
.collectionsList{
    list-style: none;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.collectionsListItem{
    width: 500px;
    height: 400px;
    background: black;
    flex-shrink: 0;
    flex-grow: 1;
}
.collectionsListItem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    background: white;
    padding: 40px;
    display: flex;
    gap: 40px;
}
.block{
    width: 400px;
    flex-shrink: 1;
    flex-grow: 1;
}
.info p{
    max-width: 50ch;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}
header{
    background: color 05190A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: (255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}
.cover_box {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid #c9c8c8;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

