*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: italic;
}

body{
    font-size: 1.8rem;
    font-family: italic;
}
.header{
    background: black;
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;

}
.headerTitle{
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
}
.headerButton{
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: none;
    font-size: 3rem;
    letter-spacing: 0,1rem;
}
.headerButton:hover{
    cursor: pointer;
}
.mainNavigation{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    visibility: hidden;
}
.mainNavigationList{
    list-style: none;
}
.mainNavigationListItem{
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
}
.mainNavigationListItem > a {
    text-decoration: none;
    color: white;
    display: none;
}
.bigFigure{
    width: 100%;
    height: 110vh;
}
.bigFigure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collections{
    width: 100vw;
    padding: 2rem;
    box-shadow: 0 0 30px rgb(0, 0, 0,1);
}
.collectionsTitle, .infoTitle{
    font-size: 21,875rem;
    color: black;
    text-transform: uppercase;
    font-weight: 2rem;
    margin-bottom: 1rem;
}
.collectionsList{
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.collectionsListItem{
    width: 30rem;
    height: 30rem;
    background: black;
    flex-shrink: 0;
    flex-grow: 1;
}
.collectionsListItem > img{
    width: 33.5rem;
    height: 30rem;
    object-fit: cover;
}
.info{
    background: white;
    padding: 2.5rem;
    display: flex;
    gap: 2.5rem;
}
.block{
    width: 25rem;
    flex-shrink: 1;
    flex-grow: 1;
}
.info p{
    max-width: 50ch;
} 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
}
header{
    background: color 05190A;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25rem 6.25rem;
    background-color: (255, 255, 255, 0.2);
    backdrop-filter: blur(0.625rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;

}
.cover_box {
    position: relative;
    width: 25rem;
    height: 27.5rem;
    background: transparent;
    border: 0.125rem solid #c9c8c8;
    border-radius: 1.25rem;
    backdrop-filter: blur(1.25rem);
    box-shadow: 0 0 1.875rem rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

